.form-wrapper {
  display: flex;

  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 25px;
}

.from-container {
  border: 1px solid #e1f2e2;
  background-color: #e1f2e2;
  display: flex;
  padding: 10px;
  width: 75%;
}

.to-container {
  display: flex;
  padding: 10px;
  width: 75%;
}

select {
  margin-left: 80px;
  cursor: pointer;
}

select:focus {
  outline: 0;
}

.to-space {
  margin-left: 99.5px;
}

.input-container {
  width: 75%;
  padding: 10px;
  background-color: #e1f2e2;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

input {
  width: 40%;
  height: 25px;
}
input:focus {
  outline: 0;
}

button {
  cursor: pointer;
  background-color: #4caf50;
  border: 1px solid #444;
  color: #fff;
  padding: 5px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  border: 1.5px solid #4caf50;
  color: black;
}
